
{{bread-crumbs breadcrumbs=breadcrumbs action='gotoBreadcrumb'}}

{{#each event in controller}}
  <div>
    {{#link-to "event_name" breadcrumbWorldName breadcrumbMapName event}}{{event.eventName.name}}{{/link-to}}
    {{event.state}}
  </div>
{{else}}
  <div>No events found</div>
{{/each}}
