
{{!-- {{view App.BreadcrumbsView contentBinding="breadcrumbs" }} --}}


{{#each map_name in controller}}
  <div>
    {{#link-to "event_names" breadcrumbWorldName map_name}}{{map_name.name}}{{/link-to}}
  </div>
{{else}}
  <div>No maps found</div>
{{/each}}
