
{{!-- {{view App.BreadcrumbsView contentBinding="breadcrumbs" }} --}}


{{#each mapName in controller}}
  <div>
    {{#link-to "event_names" breadcrumbWorldName mapName}}{{mapName.name}}{{/link-to}}
  </div>
{{else}}
  <div>No maps found</div>
{{/each}}
